In [15]:
import pandas as pd
import numpy as np
import datetime as dt

In [20]:
year = 2018
month = 1
df_append = pd.DataFrame()

while year < 2020 and month < 14:
    # generate path & read CSV
    path = f'csv/{str(year) + str(month).zfill(2)}-citibike-tripdata.csv'
    df = pd.read_csv(path)
    
    # filter out rides longer than 1 hr
    df['tripduration'] = df['tripduration'].astype(int)
    df = df[(df.tripduration <= 3600)] 
    
    # convert start time to datetime to extract year & month
    df['starttime'] = pd.to_datetime(df['starttime'])
    df['trip_year'] = df['starttime'].dt.strftime('%Y').astype(int)
    df['trip_month'] = df['starttime'].dt.strftime('%m').astype(int)
    
    # convert trip duration to minutes
    df['tripduration_mins'] = df['tripduration'].apply(lambda x: x / 60)
    
    # group by month, count rides
    df_reduced = df[['tripduration_mins','gender','trip_year','trip_month','usertype']]
    df_reduced = df_reduced.groupby(['trip_year', 'trip_month', 'gender']).count().reset_index()
    df_reduced.gender.replace([0, 1, 2], ['Unknown','Male','Female'], inplace = True)
    
    df_append = df_append.append(df_reduced)
    print(f' Month: {month}, Shape: {df.shape}, Append Shape: {df_append.shape}')
    month += 1
    

    if (month == 13):
        month = 1
        year += 1

 Month: 1, Shape: (716571, 18), Append Shape: (3, 5)
 Month: 2, Shape: (839734, 18), Append Shape: (6, 5)
 Month: 3, Shape: (971645, 18), Append Shape: (9, 5)
 Month: 4, Shape: (1294222, 18), Append Shape: (12, 5)
 Month: 5, Shape: (1803727, 18), Append Shape: (15, 5)
 Month: 6, Shape: (1929984, 18), Append Shape: (18, 5)
 Month: 7, Shape: (1888771, 18), Append Shape: (21, 5)
 Month: 8, Shape: (1954519, 18), Append Shape: (24, 5)
 Month: 9, Shape: (1857267, 18), Append Shape: (27, 5)
 Month: 10, Shape: (1863633, 18), Append Shape: (30, 5)
 Month: 11, Shape: (1251410, 18), Append Shape: (33, 5)
 Month: 12, Shape: (1010543, 18), Append Shape: (36, 5)
 Month: 1, Shape: (962971, 18), Append Shape: (39, 5)
 Month: 2, Shape: (939109, 18), Append Shape: (42, 5)
 Month: 3, Shape: (1318379, 18), Append Shape: (45, 5)
 Month: 4, Shape: (1746403, 18), Append Shape: (48, 5)
 Month: 5, Shape: (1903280, 18), Append Shape: (51, 5)
 Month: 6, Shape: (2099976, 18), Append Shape: (54, 5)
 Month: 7, Shape: (2156227, 18), Append Shape: (57, 5)
 Month: 8, Shape: (2316680, 18), Append Shape: (60, 5)
 Month: 9, Shape: (2419921, 18), Append Shape: (63, 5)
 Month: 10, Shape: (2075744, 18), Append Shape: (66, 5)
 Month: 11, Shape: (1469911, 18), Append Shape: (69, 5)
 Month: 12, Shape: (950139, 18), Append Shape: (72, 5)

In [21]:
df_append.head()

   trip_year  trip_month   gender  tripduration_mins  usertype
0       2018           1  Unknown              28654     28654
1       2018           1     Male             536592    536592
2       2018           1   Female             151325    151325
0       2018           2  Unknown              38525     38525
1       2018           2     Male             620485    620485

In [22]:
df_append.rename(columns={'tripduration_mins': 'ride_count'}, inplace=True)
df_append.drop(columns=['usertype'], axis=1, inplace=True)

In [23]:
df_append.head()

   trip_year  trip_month   gender  ride_count
0       2018           1  Unknown       28654
1       2018           1     Male      536592
2       2018           1   Female      151325
0       2018           2  Unknown       38525
1       2018           2     Male      620485

In [24]:
df_append.to_csv('csv/gender_grouped_counts.csv')